body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
img {
  height: 300px;
  width: 300px;
  border-radius: 5px;
}
.all-products-admin {
  display: inline-table;
  flex-flow: wrap;
  justify-content: center;
  align-content: space-between;
  width: 18rem;
  margin: 1.0rem;
  padding: 1.0rem;
}
.all-products-user {
  display: inline-table;
  flex-flow: row;
  justify-content: center;
  align-content: space-between;
  width: 18rem;
  margin: .5rem;
  padding: .5rem;
}